$red: rgb(214, 1, 1);
$white: white;
$dark: rgb(23, 23, 40);;
$green: green;
$margin: 0 100px 0 100px; 
$margin-sm: 0 10px 0 10px;
$border-redus:15px;
$gray: rgb(237, 237, 237);



$heading-color: #120f2d;
    $bg-color: #f6f5fd;
    $yollow-color: #faca22;
    $body-color: #46435e;
    $theme-color: #3a44ca;
    $thm-clr-2: #ee4158;
    $white-color: #ffffff;
    $black-color: #151931;
    $dark-white: #8c8c8c;
    $light-color: #EFEFEF;
    $lightgrey-color: rgb(64, 61, 61);
    $font-1: 'Hind', sans-serif;
    $font-2: 'Poppins', sans-serif;
$border-redus-2: 5px;
$padding-icon: 10px;
$box-shadow: -1px 7px 28px 0px rgba(0,0,0,0.75);


 $box-shadow2: -1px 8px 20px 0px rgba(0, 0, 0, 0.09);
$box-shadow3: -2px 14px 28px 0px rgba(0,0,0,0.5);
$box-shadow4: -1px 7px 8px 0px rgba(0, 0, 0, 0.061);
$blue: darkblue;